<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo %>
</p>

<p>
  <strong>Url ref:</strong>
  <%= @item.url_ref %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Starts count:</strong>
  <%= @item.starts_count %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
